<?xml version="1.0" encoding="utf-8"?>
<Snippet>
	<Header>
		<Title>private readonly</Title>
		<Auhor>Evan B.</Auhor>
	</Header>
	<Code>
		<![CDATA[private readonly $Type$ $variable$]]>
	</Code>
</Snippet>